<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>文档管理</title>
<link rel="stylesheet" type="text/css" href="/adm/css/base.css">
<script language="javascript">
function viewArc(aid){
	if(aid==0) aid = getOneItem();
	window.open("archives.asp?aid="+aid+"&action=viewArchives");
}
function editArc(aid){
	if(aid==0) aid = getOneItem();
	location="archives.asp?aid="+aid+"&action=editArchives";
}
function updateArc(aid){
	var qstr=getCheckboxItem();
	if(aid==0) aid = getOneItem();
	location="archives.asp?aid="+aid+"&action=makeArchives&qstr="+qstr+"";
}
function checkArc(aid){
	var qstr=getCheckboxItem();
	if(aid==0) aid = getOneItem();
	location="archives.asp?aid="+aid+"&action=checkArchives&qstr="+qstr+"";
}
function moveArc(aid){
	var qstr=getCheckboxItem();
	if(aid==0) aid = getOneItem();
	location="archives.asp?aid="+aid+"&action=moveArchives&qstr="+qstr+"";
}
function adArc(aid){
	var qstr=getCheckboxItem();
	if(aid==0) aid = getOneItem();
	location="archives.asp?aid="+aid+"&action=commendArchives&qstr="+qstr+"";
}
function delArc(aid){
	var qstr=getCheckboxItem();
	if(aid==0) aid = getOneItem();
	location="archives.asp?aid="+aid+"&action=delArchives&qstr="+qstr+"";
}

//获得选中文件的文件名
function getCheckboxItem()
{
	var allSel="";
	if(document.form2.id.value) return document.form2.id.value;
	for(i=0;i<document.form2.id.length;i++)
	{
		if(document.form2.id[i].checked)
		{
			if(allSel=="")
				allSel=document.form2.id[i].value;
			else
				allSel=allSel+"`"+document.form2.id[i].value;
		}
	}
	return allSel;
}

//获得选中其中一个的id
function getOneItem()
{
	var allSel="";
	if(document.form2.id.value) return document.form2.id.value;
	for(i=0;i<document.form2.id.length;i++)
	{
		if(document.form2.id[i].checked)
		{
				allSel = document.form2.id[i].value;
				break;
		}
	}
	return allSel;
}
function selAll()
{
	for(i=0;i<document.form2.id.length;i++)
	{
		if(!document.form2.id[i].checked)
		{
			document.form2.id[i].checked=true;
		}
	}
}
function noSelAll()
{
	for(i=0;i<document.form2.id.length;i++)
	{
		if(document.form2.id[i].checked)
		{
			document.form2.id[i].checked=false;
		}
	}
}
</script>
<style type="text/css">
#category{
	width:160px;
	height:170px;
	margin:10px;
	float:left;

	}
#image{
	width:160px;
	height:130px;
	border:#666666 1px solid;
	}
#cateName,#operation{
	text-align:center;
	}
</style>
</head>
<body leftmargin="8" topmargin="8" background='/adm/images/allbg.gif'>

<!--  快速转换位置按钮  -->
<table width="98%" border="0" cellpadding="0" cellspacing="1" bgcolor="#D1DDAA" align="center">
<tr>
 <td height="26" background="/adm/images/newlinebg3.gif">
  <table width="98%" border="0" cellspacing="0" cellpadding="0">
  <tr>
  <td align="left">
    <input type='button' class="coolbg np" onClick="location='/adminPhotoCategory/';" value='添加分类' />
    <input type='button' class="coolbg np" onClick="location='/picManager/';" value='我的图片' />
    <input type='button' class="coolbg np" onClick="location='/picCategories/';" value='分类管理' />
 </td>
 </tr>
</table>
</td>
</tr>
</table>

<!--  内容列表   -->
<form name="form2" method="post" action="">

<table width="98%" border="0" cellpadding="2" cellspacing="1" bgcolor="#D1DDAA" align="center" style="margin-top:8px">
<tr bgcolor="#E7E7E7">
	<td width="76%" height="24" background="/adm/images/tbg.gif">&nbsp;分类列表&nbsp;</td>
</tr>
<tr bgcolor="#FAFAF1">
<td height="28">
{% for photoCategory in photoCategories %}
<div id="category">
	<div id="image"><a href="/picManager/?category={{photoCategory.id}}"><img src="{{web_domain}}/{{photoCategory.bgImage}}"  width="160" height="130" title="{{photoCategory.remark}}"></a></div>
	<div id="cateName">{{photoCategory.cateName}}</div>
	<div id="operation"><a href="/adminPhotoCategory/?method=edit&action={{photoCategory.id}}">编辑</a> | <a href="/adminPhotoCategory/?method=delete&action={{photoCategory.id}}">删除</a></div>
</div>
{% endfor %}
</td>
</tr>
</table>

</form>

<!--  搜索表单  -->
</body>
</html>